---
layout: default
author_profile: true
read_time: true
share: true
related: true
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  Se achou algum erro no artigo ou que faltou falar de algo ou gostaria de ver algum tipo de assunto publicado no blog que
  seja sobre computação em geral ou algo específico sobre inteligência artificial e assuntos relacionados fique a vontade
  para deixar uma mensagem e também comentar sobre esse artigo. Colabore, <a target="blank" href="https://goo.gl/forms/woRBGtLKW7Dpospi1">CLIQUE
  AQUI!</a>

  {%- include socialshare.html -%}
  
  {%- include comments.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
